<!DOCTYPE html>
<html>
	<head>
		<title>AskPupkin</title>
		<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<!--Here are 2 container-fluid divs to fix margins for fixed-top navbar-->
			<div class="container-fluid">
			<div class="container-fluid">
				<a href="#" class="navbar-brand">AskPupkin</a>
				<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
			</div> <!--closing container-fluid divs-->
			</div>
		</nav>
		<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>