<nav class="navbar navbar-inverse navbar-fixed-top">
	<!--Here are 2 container-fluid divs to fix margins for fixed-top navbar-->
	<div class="container-fluid">
	<div class="container-fluid">
		<a href="{% url 'questions:index' %}" class="navbar-brand">AskPupkin</a>
		<a href="{% url 'questions:ask' %}" class="btn btn-default navbar-btn">Ask!</a>

		
			{% if user.is_authenticated %}	
				<p class="navbar-text navbar-right">
					<a href="{% url 'questions:logout' %}" class="navbar-link">Log out</a>
				</p>
				<p class="navbar-text navbar-right">
					Logged in as {{ user.username }}   
				</p>
				{% if user.avatar %}
					<img src="{{ user.avatar.url }}" class="navbar-right navbar-ava">
				{% endif %}
			{% else %}
				<p class="navbar-text navbar-right">
					<a href="{% url 'questions:login' %}{% if next %}?next={{next}}{% endif %}" class="navbar-link">Log in</a>
				</p>
				<p class="navbar-text navbar-right">
					<a href="{% url 'questions:signup' %}{% if next %}?next={{next}}{% endif %}" class="navbar-link">Sign up</a>
				</p>
			{% endif %}
		
	</div> <!--closing container-fluid divs-->
	</div>
</nav>