<div class="panel panel-default">
<div class="panel-body">
<div class="container-fluid">
<div class="row">
	<div class="col-sm-3">
		<p class="text-center"><b>{{question.author.username}}</b> asks </p>
		{% if question.author.avatar %}
		<p class="text-center"><img src="{{ question.author.avatar.url }}" class="question-ava"></p>
		{% endif %}
		<p>likes: {{n_likes}}</p>
		<p>answers: {{n_answers}}</p>
		{% for tag in tags %}
			<p>{{ tag }}</p>
		{% endfor %}
	</div>
	<div class="col-sm-9">
		<a href="{{ question.get_absolute_url }}"><h2 class="panel-h2">{{question.title}}</h2></a>
		<p>{{question.text}}</p>
	</div>
</div>
</div>
</div>
</div>